body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: tahoma;
    height: 100vh;
    background: linear-gradient(to top left, #065374, #c0ceee);
  }
  